<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
    
        <record model="ir.actions.act_window" id="acquisition_plan_act_window">
            <field name="name">Acquisition Plan</field>
            <field name="res_model">acquisition.plan</field>
            <field name="view_mode">kanban,tree,form</field>
            <field name="domain">[]</field>
            <field name="context">{}</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Here, you can add new acquisition plans
                </p>
                <p>
                    You can now manage and organize your full acquisition plan workflows.
                </p>
            </field>
        </record>
        
        <record model="ir.actions.act_window" id="acquisition_item_type_act_window">
            <field name="name">Acquisition Item Types</field>
            <field name="res_model">acquisition.plan.line.type</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="context">{}</field>
        </record>
        
        <record model="ir.actions.act_window" id="acquisition_offer_act_window">
            <field name="name">Acquisition Offers</field>
            <field name="res_model">acquisition.offer</field>
            <field name="view_mode">tree,form</field>
            <field name="search_view_id" ref="acquisition_offer_search_view"/>
            <field name="domain">[]</field>
            <field name="context">{'search_default_group_acq_plan': 1}</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Here, you can add new acquisition offers
                </p>
                <p>
                    You can now manage and organize your offers for the corresponding acquisition plans.
                </p>
            </field>
        </record>
        
        <record model="ir.ui.menu" id="public_acquisition_main_menu">
            <field name="name">Public Acquisitions</field>
        </record>
        
        <record model="ir.ui.menu" id="public_acquisition_menu">
            <field name="name">Public Acquisitions</field>
            <field name="parent_id" ref="public_acquisition_main_menu"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="acquisition_plan_menu">
            <field name="name">Acquisition Plans</field>
            <field name="parent_id" ref="public_acquisition_menu"/>
            <field name="action" ref="acquisition_plan_act_window"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="acquisition_offer_menu">
            <field name="name">Acquisition Offers</field>
            <field name="parent_id" ref="public_acquisition_menu"/>
            <field name="action" ref="acquisition_offer_act_window"/>
            <field name="sequence" eval="10"/>
        </record>
        
        <record model="ir.ui.menu" id="acquisition_contract_main_menu">
            <field name="name">Contracts</field>
            <field name="parent_id" ref="public_acquisition_main_menu"/>
            <field name="sequence" eval="10"/>
        </record>
        
        <record model="ir.ui.menu" id="vendor_menu">
            <field name="name">Vendors</field>
            <field name="parent_id" ref="acquisition_contract_main_menu"/>
            <field name="action" ref="base.action_partner_supplier_form"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="acquisition_contract_menu">
            <field name="name">Contracts</field>
            <field name="parent_id" ref="acquisition_contract_main_menu"/>
            <field name="sequence" eval="10"/>
        </record>
        
        <record model="ir.ui.menu" id="products_main_menu">
            <field name="name">Products</field>
            <field name="parent_id" ref="public_acquisition_main_menu"/>
            <field name="sequence" eval="15"/>
        </record>
        
        <record model="ir.ui.menu" id="products_menu">
            <field name="name">Products</field>
            <field name="parent_id" ref="products_main_menu"/>
            <field name="action" ref="purchase.product_normal_action_puchased"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="public_acquisition_config_menu">
            <field name="name">Configuration</field>
            <field name="parent_id" ref="public_acquisition_main_menu"/>
            <field name="sequence" eval="20"/>
        </record>
        
        <record model="ir.ui.menu" id="acquisition_main_config_menu">
            <field name="name">Acquisitions</field>
            <field name="parent_id" ref="public_acquisition_config_menu"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="acquisition_item_type_menu">
            <field name="name">Acquisition Item Types</field>
            <field name="parent_id" ref="acquisition_main_config_menu"/>
            <field name="action" ref="acquisition_item_type_act_window"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="contract_main_config_menu">
            <field name="name">Contracts</field>
            <field name="parent_id" ref="public_acquisition_config_menu"/>
            <field name="sequence" eval="10"/>
        </record>
        
        <record model="ir.ui.menu" id="contract_template_config_menu">
            <field name="name">Contract Templates</field>
            <field name="parent_id" ref="contract_main_config_menu"/>
            <field name="action" ref="contract.account_analytic_contract_action"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="product_main_config_menu">
            <field name="name">Products</field>
            <field name="parent_id" ref="public_acquisition_config_menu"/>
            <field name="sequence" eval="15"/>
        </record>
        
        <record model="ir.ui.menu" id="product_categ_config_menu">
            <field name="name">Product Categories</field>
            <field name="parent_id" ref="product_main_config_menu"/>
            <field name="action" ref="product.product_category_action_form"/>
            <field name="sequence" eval="5"/>
        </record>
        
        <record model="ir.ui.menu" id="product_uom_config_menu">
            <field name="name">Units of Measure</field>
            <field name="parent_id" ref="product_main_config_menu"/>
            <field name="action" ref="product.product_uom_form_action"/>
            <field name="sequence" eval="10"/>
        </record>
        
        <record model="ir.ui.menu" id="product_uom_categ_config_menu">
            <field name="name">Unit of Measure Categories</field>
            <field name="parent_id" ref="product_main_config_menu"/>
            <field name="action" ref="product.product_uom_categ_form_action"/>
            <field name="sequence" eval="15"/>
        </record>
        
    </data>
</odoo>
